.container-fluid
  ol.breadcrumb
    li
      a(ui-sref="root.home") Home
    li.active Registrierung
  .col-sm-4.col-sm-offset-4
    .panel.panel-default
      .panel-heading
        h3#registrations_title.panel-title Registrierung
      .panel-body
        form(name="registrationForm", novalidate)
          .form-group(ng-class="{ 'has-error' : registrationForm.email.$invalid && !registrationForm.email.$pristine }")
            label.control-label Email
            input#registrations_input_firstname.form-control(name="email", ng-minlength="6",
              ng-model="reg.form.user.email", required, maxlength="30")
            p.help-block Email
            label.control-label Ort
            input#registrations_input_firstname.form-control(name="ort", ng-minlength="2",
              ng-model="reg.form.user.ort", required, maxlength="30")
            p.help-block Ort
            label.control-label Passwort
            input#registrations_input_firstname.form-control(name="password", ng-minlength="8",
              ng-model="reg.form.user.password", required)
            p.help-block Passwort
          hr
          .form-group
            .col-md-6
              button#registrations_button_back.btn.btn-default(ng-click="reg.goBack()") Abbrechen
            .col-md-6              
              button#registrations_button_register.btn.btn-success(ng-click="reg.register()",
                ng-disabled="registrationForm.$invalid || registration.regInProgress") Registrieren
          .alert.alert-warning(ng-show="registration.regInProgress", role="alert")
            | Registrierung im Vorgang