.container-fluid
  center
    button.btn.btn-lg.btn-warning(ng-click='ctrl.edit()', ng-show="ctrl.mine") Angebot bearbeiten
  center
    button.btn.btn-lg.btn-warning(ng-click='ctrl.reveal()', ng-hide="ctrl.mine") Kontaktdaten ansehen