.container-fluid
  ol.breadcrumb
    li
      a.clickable(ui-sref="root.home") Home
    li
      a.clickable(ng-click="intrst.back()") {{intrst.interest.category}}
    li.active {{intrst.interest.title}}
  .row
    .col-sm-8
      .row
        u.h2.text-blue {{intrst.interest.title}}
        h2 FIRMENNAME
        h4 {{intrst.interest.category}} - {{intrst.interest.subcategory}}
      hr
      .row
        .col-sm-11
          p {{intrst.interest.description}}
    .col-sm-4.jumbotron.blue(style="height:100%")
      ui-view
  hr
  .row
    .col-sm-6.col-sm-offset-3
      .col-sm-2.flex(ng-repeat="keyword in intrst.interest.keywords")
        .text-center
          h6.well.well-sm.blue.text-white {{keyword}}