.jumbotron(style="background-image: url('/assets/images/header_edit.jpg'); background-size: cover; background-position: 65% 30%; margin-bottom: 0; height: 500px;")
  .text-left.text-blue
    h1 Open Innovation für Krankenhaus 4.0
    h3 Finden Sie die richtigen Kontakte:
    ul.customSymbol
      li.customSymbol.h3 FE+E-Projektkooperation
      li.customSymbol.h3 FE+E-Auftragszusammenarbeit
      li.customSymbol.h3 Talente (Praktikums-/Abschlußarbeiten)
    h3 Automatische Benachrichtigung über passende Profile
.jumbotron.blue.no-gutter
  .row
    .col-sm-9
      .container
        .text-white.text-left
          h2 Neue Chancen nicht verpassen.
          h5 Mit ihrem persönlichen Profil werden Sie immer automatisch über neue passende Profile und mögliche Partner informiert.
    .col-sm-3.well.clickable(ui-sref='root.createinterest')
      .text-center
        p Jetzt Profil anlegen
.container-fluid
  .col-sm-10.col-sm-offset-1(style="margin-bottom: 50px;")
    .col-md-3
      .text-center
        span.fa.fa-5x.fa-users(aria-hidden="true")
      .caption.text-center
        p.h3(style="min-height: 2.5em;") Finden Sie Netzwerk-Partner für F&E-Kooperationen
        p Werden Sie Teil des Krankenhaus-4.0-Netzwerks und bringen Sie Ihr Unternehmen in den Fokus von potentiellen Geschäfts- und Forschungspartnern.
    .col-md-3
      .text-center
        span.fa.fa-5x.fa-lightbulb-o
      .caption.text-center
        p.h3(style="min-height: 2.5em;") Beginnen Sie Innovative 4.0 Projekte
        p Setzen Sie neue Impulse für Ihr Unternehmen: Knüpfen Sie neue Kontakte mit innovativen Herstellern, Dienstleistern und Instituten für gemeinsame 4.0 Projekte.
    .col-md-3
      .text-center
        span.fa.fa-5x.fa-graduation-cap
      .caption.text-center
        p.h3(style="min-height: 2.5em;") Nutzen Sie Talente
        p Mit Praktikums- und Abschlussarbeiten finden Sie Talente für Projekte und als neue Mitarbeiter.
    .col-md-3
      .text-center
        span.fa.fa-5x.fa-paper-plane-o
      .caption.text-center
        p.h3(style="min-height: 2.5em;") Bleiben Sie immer auf dem neuesten Stand
        p Mit dem personalisierten Suchauftrag werden Sie über neue Unternehmen, Projekte und Kooperationsmöglichkeiten informiert; zugeschnitten auf Ihre Interessen.
  .row
    .text-center.text-blue
      h1 Welches Thema interessiert Sie?
  .row(style='margin-top: 20px; margin-bottom: 50px;')
    .col-sm-2.col-sm-offset-2.text-center
      .clickable.brightness(ng-click="home.searchPage('Hospital IT 4.0')")
        img(src="/assets/images/hospital_it.jpg" alt="Hospital IT 4.0" style="color: #ffffff")
    .col-sm-2.text-center
      .clickable.brightness(ng-click="home.searchPage('Medizintechnik 4.0')")
        img(src="/assets/images/medizintechnologie.jpg" alt="Medizintechnik 4.0" style="color: #ffffff")
    .col-sm-2.text-center
      .clickable.brightness(ng-click="home.searchPage('Facility Management 4.0')")
        img(src="/assets/images/facility_management.jpg" alt="Facility Management 4.0" style="color: #ffffff")
    .col-sm-2.text-center
      .clickable.brightness(ng-click="home.searchPage('Klinische Prozesse 4.0')")
        img(src="/assets/images/klinische_prozesse.jpg" alt="Klinische Prozesse 4.0" style="color: #ffffff")

.jumbotron.blue
  .row
    .col-sm-9
      .container
        .text-white.text-left
          h2 Sie sind noch nicht als Teilnehmer eingetragen?
          h5 Präsentieren Sie Ihr Profil für neue Kooperationen und Kontakte.
    .col-sm-3.well.clickable(ui-sref='root.register')
      .text-center
        p Jetzt kostenfrei starten
.container-fluid
  .row
    .text-center.text-blue
      h1 Interessante Angebote
  

  // Interest Display Element
  .row(ng-repeat="post in home.posts")
    .col-sm-3
      img.thumbnail(src="" alt="logo")
    .col-sm-6
      .row
        .text-center.text-blue
          h3 {{post.title}}
      .row
          p {{post.owner_id}}
      .row
         p {{post.description}}
      .row
        .col(ng-repeat="keyword in {{post.keywords}}")
          .well.text-center
            p {{keyword}}
    .col-sm-3
      .row
        .text-center
          p {{post.category}}
      .row
        .text-center
          p {{post.subcategory}}
      .row
        button.btn.btn-warning(ng-click="home.viewPost({{post.id}}") Details ansehen
.row
  .text-center.text-blue
    h1 Beliebte Keywords
  .col-sm-8.col-sm-offset-2(style="margin-top: 20px;")
    .col-sm-3.label-distance(ng-repeat="keyword in home.keywords")
      span.label.label-primary {{keyword[0]}}