.container-fluid(on-scroll-to-bottom="search.loadMore()")
  .container-fluid(ng-show="search.category == 'Hospital/IT 4.0'", ng-cloak)
    .jumbotron.text-blue(style="background-image: url('/assets/images/header_hospital_it.jpg'); background-size: cover; background-position: 65% 30%; margin-bottom: 0; height: 300px;")
      h1 Hospital IT
    .row
      .col-sm-9
        h3 Hospital IT
        p Der Einsatz von moderner Informationstechnik im Krankenhaus gewinnt immer mehr an Bedeutung. Während die Digitalisierung zunächst darauf abzielt, bestehende Prozesse wie Datenaustausch und Dokumentation zu erleichtern, ergeben sich durch Technologien wie Cloud Computing, Big Data Analysen und medizinische Anwendungen auf mobilen Endgeräten ganz neue Möglichkeiten in der medizinischen Versorgung, der Forschung und der Administration. Durch die Sensibilität medizinischer personenbezogener Patientendaten ergeben sich jedoch durch zunehmende Vernetzung auch neue Herausforderungen an die Sicherheit der Systeme und den Datenschutz. 
      .col-sm-3
        .jumbotron.blue.text-center
           button.btn.btn-warning.btn-lg(ng-click="") Jetzt Angebot Schalten
  .container-fluid(ng-show="search.category == 'Klinische Prozesse 4.0'", ng-cloak)
    .jumbotron.text-blue(style="background-image: url('/assets/images/header_klinische_prozesse.jpg'); background-size: cover; background-position: 65% 30%; margin-bottom: 0; height: 300px;")
      h1 Klinisches Prozessmanagment
    .row
      .col-sm-9
        h3 Klinisches Prozessmanagment
        p linische Prozesse umfassen im Unternehmen Krankenhaus sowohl administrative wie gesundheitsversorgende Abläufe. Durch den Einsatz von 4.0 Technologien können diese mit interoperablen, IT-gestützten Systemen genau erfasst und geregelt werden, damit die Unterschiedlichen Abteilungen und Gruppen wie Ärzteschaft, Pfleger und Verwaltung effizient und erfolgreich kooperieren und kommunizieren können. Durch e-health, also den Einsatz digitaler Technologien im Gesundheitswesen, wie Medical Apps, einheitliche Kommunikationsplattformen oder digitale Qualitäts- und Leistungserfassungssysteme ergeben sich neue Möglichkeiten der medizinischen Behandlung und administrativer Abläufe. 
      .col-sm-3
        .jumbotron.blue.text-center
           button.btn.btn-warning.btn-lg(ng-click="") Jetzt Angebot Schalten
  .container-fluid(ng-show="search.category == 'Facility Management 4.0'", ng-cloak)
    .jumbotron.text-blue(style="background-image: url('/assets/images/header_facility_management.jpg'); background-size: cover; background-position: 65% 30%; margin-bottom: 0; height: 300px;")
      h1 Facility Management 4.0
    .row
      .col-sm-9
        h3 Facility Management 4.0
        p Das Facility Management im Krankenhaus 4.0 nutzt die Möglichkeiten von Cloud-Technologien und dem „Internet der Dinge“ um Prozesse wie Wartung und Instandhaltung, aber auch das Organisieren von Warenströmen und Personen zu digitalisieren und zu optimieren. Neben praktischen Anwendungen wie der „predicitive maintenance“ bieten sich auch Chancen, den Krankenhausbetrieb nachhaltiger zu gestalten. Insgesamt ergibt sich die Möglichkeit, das Facility Management aktiver in die Prozesse des Krankenhauses zu integrieren und damit seine Bedeutung in der Wertschöpfung zu vergrößern.
      .col-sm-3
        .jumbotron.blue.text-center
           button.btn.btn-warning.btn-lg(ng-click="") Jetzt Angebot Schalten
  .container-fluid(ng-show="search.category == 'Medizintechnik 4.0'", ng-cloak)
    .jumbotron.text-blue(style="background-image: url('/assets/images/header_medizintechnik.jpg'); background-size: cover; background-position: 65% 30%; margin-bottom: 0; height: 300px;")
      h1 Medizintechnik 4.0
    .row
      .col-sm-9
        h3 Medizintechnik 4.0
        p Die Medizingeräte des Krankenhauses 4.0 zeichnen sich durch die Möglichkeit zur Vernetzung und Kommunikation aus. Verbindungen untereinander erlauben es den Geräten, ihre Funktionen und Eigenschaften als digitale Dienste (Services) bereitzustellen. Hierfür ist eine Geräte und Hersteller übergreifende Interoperabilität und Orchestrierung der einzelnen Systeme notwendig. Neben neuen Konzepten der Usability vernetzter Geräte können die dadurch zugänglichen Daten von anderen Geräten wie Assistenz- und Theragnostik-Systemen genutzt werden oder als Informationsquelle für den Wartungs-Service dienen.
      .col-sm-3
        .jumbotron.blue.text-center
           button.btn.btn-warning.btn-lg(ng-click="") Jetzt Angebot Schalten
  .col-12.well.well-sm.blue
    form(name='filter')
      select.selectpicker.text-center(ng-model="search.subfilter" ng-options="sub.subcategory as sub.subcategory for sub in search.subcategories" ng-change="search.checkFilter()")
        option.text-center(value="", selected) Unterkategorie
  .row.well.well-sm(ng-repeat="post in search.list | filter: search.subfilter")
    .col-sm-8.col-sm-offset-1
      .row
        .text-blue.h2
          b
            u {{post.title}}
      .row(style="margin-top: 0")
        .text-center
          p {{post.user_id}}
      .row
         p {{post.description}}
      .row
        .col-sm-2.flex(ng-repeat="keyword in post.keywords")
          .text-center
            h6.label.label-primary {{keyword}}
    .col-sm-3
      .row
        .text-center.h4.text-blue
          b {{post.category}}
      .row(style="margin-bottom: 20px;")
        .text-center.text-blue
          b {{post.subcategory}}
      .row.text-center
        button.btn.btn-warning.btn-lg(ng-click="search.viewPost(post.id)") Details ansehen
  .row.text-center.text-blue(ng-show="!search.list.length")
    h1 Hier scheint noch nichts zu sein.
