.container-fluid
  ol.breadcrumb
    li
      a(ui-sref="root.home") Übersicht
    li.active Posts
  .well
    table.table.table-bordered.table-striped
      thead.text-center
        tr
          th.text-center Titel
          th.text-center Zuständiger
          th.text-center Angebot/Suche
          th.text-center 
            span Kategorie
            br
            small Unterkategory
          th.text-center Art
          th.text-center Ziel
          th.text-center Anfragen
          th.text-center(colspan="2") 
            button.btn.btn-warning(ng-class="{active: interests.unlocked}" ng-click="interests.unlocked = !interests.unlocked") Entsperren
      tbody
        tr(ng-repeat="post in interests.posts")
          td.text-center.clickable.highlight(ng-click='interests.viewPost(post.id)') {{post.title}} 
          td.text-center {{post.owner}}
          td.text-center {{post.offer}}
          td.text-center 
            span {{post.category}}
            br
            small {{post.subcategory}}
          td.text-center {{post.typus}}
          td.text-center {{post.target}}
          td.text-center {{post.contacts}}
          td.text-center
            button.btn.btn-default(ng-click="interests.edit(post.id)") E
            button.btn.btn-danger(ng-disabled="!interests.unlocked", ng-click="interests.deletePost(post)") X
  button.btn.btn-default(
    ui-sref="root.admin.interestcreate") Neues Angebot