.container
  .row.well.well-sm(ng-repeat="company in cmps.companyList")
    .col-sm-3
      img.thumbnail(ng-src="{{company.logo.url}}" alt="logo" ng-hide="!company.logo.url", ng-cloak)
    .col-sm-6
      .row
        .text-blue
          u.h2 {{company.name}}
      .row
         p {{company.description}}
    .col-sm-3
      .row
        .text-center.text-blue
          p.h3 {{company.typus}}
      .row.text-center
        button.btn.btn-warning.btn-lg(ng-click="cmps.viewCompany(company.id)") Details ansehen
