.container-fluid
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        h3#newcomp_title.panel-title Neue Organisation
      .panel-body
        form(name="newCompForm", novalidate, enctype="multipart/form-data")
          .form-group
            label.radio-inline
              input(name="type" type="radio", ng-model="ncomp.form.company.typus", value="Klinik") 
              | Klinik
            label.radio-inline
              input(name="type" type="radio", ng-model="ncomp.form.company.typus", value="Institut") 
              | Institut
            label.radio-inline
              input(name="type" type="radio", ng-model="ncomp.form.company.typus", value="Firma")
              | Firma
          label.control-label Überorganisation
          .form-group
            input#newcomp_input_parent.form-control(name="parent", ng-model="ncomp.form.company.parent", required)
          label.control-label Name
          .form-group
            input#newcomp_input_username.form-control(name="name", ng-minlength="4", ng-model="ncomp.form.company.name", required)
          label.control-label Website
          .form-group
            .input-group
              span.input-group-addon http://
              input#newcomp_input_website.form-control(name="website", ng-model="ncomp.form.company.website")
          label.control-label Beschreibung
          .form-group(ng-class="{ 'has-error' : newCompForm.description.$invalid && !newCompForm.description.$pristine }")
            textarea#newcomp_description.form-control(rows="8", cols ="300", name="description", ng-minlength="10", ng-model="ncomp.form.company.description", required, maxlength="2000")
          label.control-label Logo
          input(type="file", ngf-select, ng-model="ncomp.form.company.logo" name="logo" accept="image/*" ngf-max-size="2MB")
          hr
          .form-group
            .col-md-6
              button#newcomp_button_back.btn.btn-default(ng-click="ncomp.goBack()") Abbrechen
            .col-md-6              
              button#newcomp_button_register.btn.btn-success(ng-click="ncomp.submit()",
                ng-disabled="newCompForm.$invalid || ncomp.regInProgress") Erstellen 
