.container-fluid
  .col-sm-4.col-sm-offset-4
    .panel.panel-default
      .panel-heading
        h3#registrations_title.panel-title Login
      .panel-body
        form(name="registrationForm", novalidate)
          .form-group(ng-class="{ 'has-error' : registrationForm.email.$invalid && !registrationForm.email.$pristine }")
            label.control-label Email
            input#login_input_email.form-control(name="email", type="text" ng-minlength="2",
              ng-model="login.form.user.email", required, maxlength="30")
            p.help-block Email
            label.control-label Passwort
            input#login_input_password.form-control(name="password", type="password" ng-minlength="2",
              ng-model="login.form.user.password", required, maxlength="30")
            p.help-block Passwort
          hr
          .form-group
            .col-md-6
              button#registrations_button_register.btn.btn-success(type="submit" ng-click="login.login()",
                ng-disabled="registrationForm.$invalid") Einloggen