.container.fluid
  form(name="passwordResetForm").text-center
    .form-group
      label.text-blue 
        p Bitte geben Sie Ihren Accountnamen ein. 
        p Wenn Sie bestätigen, wird Ihnen ein neues Password an die in Ihrem Account angegebene Email-Addresse geschickt.
        input(type="text" name="accountname" ng-model="reset.accountname" placeholder="Accountname")
    .form-group
        button.btn.btn-primary(ng-click="reset.send()" ng-disabled="reset.ajaxInProgress") Senden
        br
        button.btn.btn-warning(ng-click="reset.abort()") Abbrechen
        