.container-fluid
  .jumbotron.blue.text-white
    h2#profile_title {{profile.user.firstname}} {{profile.user.lastname}}
    p 
      | {{profile.user.email}}
    p
      | Web: {{profile.user.web}}  Fon: {{profile.user.fon}}
    p
      | Ort: {{profile.user.plz}} {{profile.user.ort}}
    p
      | {{profile.user.firstname}} {{profile.user.lastname}}

    button.btn.btn-default(ng-show="profile.canEdit" ng-click="profile.editProfile()") Profil Bearbeiten
  .panel-group.container-fluid.well(ng-show="profile.interestList.length")
    .panel.panel-default
      h2.panel-title
        a(data-toggle="collapse" href="#postlist") 
          h2.text-center.text-blue Meine Anzeigen
    .panel-collapse.collapse(id="postlist")
      .row.well.well-sm(ng-repeat="post in profile.interestList")
        .col-sm-8.col-sm-offset-1
          .row
            .text-blue.h2
              b
                u {{post.title}}
          .row
             p {{post.description}}
          .row
            .col-sm-2.flex(ng-repeat="keyword in post.keywords")
              .text-center
                h6.label.label-primary {{keyword}}
        .col-sm-3
          .row
            .text-center.h4.text-blue
              b {{post.category}}
          .row(style="margin-bottom: 20px;")
            .text-center.text-blue
              b {{post.subcategory}}
          .row.text-center
            button.btn.btn-warning.btn-lg(ng-click="profile.editInterest(post.id)") Anzeige bearbeiten